%h2
  ユーザー編集
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = render "devise/shared/error_messages", resource: resource
  / ここにdivをつけてimgとinputを並行に並べる
  .UserContainer
    .circle-image
      -if current_user.persisted? && current_user.image?
        %label
          %img#image_img_prev.hidden{"src" => "#"}
          = image_tag current_user.image.to_s, class: "image_present_img"
          = f.file_field :image, id: "post_img", class: "displayNone"
      - else
        %label
          %img#image_img_prev.hidden{"src" => "#"}
          = image_tag 'no_image.jpg', class: "image_present_img"
          = f.hidden_field :image_cache
          = f.file_field :image, id: "post_img", class: "displayNone"
    /ユーザー名とメールアドレスは縦並び
    .NameField
      = f.label :name, "user_name:"
      = f.text_field :name, autofocus: true, autocomplete: "username", class: 'form-control'
    .EmailField
      = f.label :email, "email:"
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
    = f.submit "更新", class: "btn btn-primary text-white UpdateBtn"
    = link_to "戻る", :back, class: "btn btn-secondary text-white BackBtn"
