.Event.card.shadow
  .avatar.mx-auto.white
    - if event.owner.image?
      = image_tag event.owner.image.to_s, class: "rounded-circle img-responsive"
    - else
      = image_tag 'no_image.jpg', class: "rounded-circle img-responsive"
  .card-body
    %h4.Event__user.card-title.font-weight-bold
      = event.owner.name
    %hr
    .Event__content
      .Event__title
        = event.name
      .Event__datetime
        = "#{event.start_time.strftime("%Y年%m月%d日 %H時%M分")} 〜 #{event.start_time.strftime("%Y年%m月%d日 %H時%M分")}"
      .Event__place
        = event.place
      .Event__level
        = event.level
      .Event__tag
        - event.tags.each do |tag|
          = tag
    %hr
    .Event__btn
      = render partial: 'events/participation_form', locals: { event: event }