%header.Header
  .Logo
    =link_to root_path do
      イベサク
  .Icons
    - if user_signed_in?
      .Icons__icon
        = link_to join_user_path(current_user) do
          .Icons__icon--user
            = icon('fas', 'user')
          .Icons__text
            マイページ
      .Icons__icon
        = link_to new_event_path do
          .Icons__icon--plus
            = icon('fas', 'plus')
          .Icons__text
            イベント作成
      .Icons__icon
        = link_to "#" do
          .Icons__icon--plus
            = icon('fas', 'calendar-alt')
          .Icons__text
            イベント管理
      .Icons__post
        = link_to "ログアウト", destroy_user_session_path, method: :delete
    - else
      .Icons__icon
        
      .Icons__icon
        
      .Icons__post
        = link_to "新規登録", new_user_registration_path

      .Icons__post
        = link_to "ログイン", new_user_session_path
